{
  "builders_iso_url": "/home/aapaeste/centos-iso/CentOS-7-x86_64-DVD-1810.iso",
  "builders_iso_checksum": "6d44331cc4f6c506c7bbe9feb8468fad6c51a88ca1393ca6b8b486ea04bec3c1",
  "builders_iso_checksum_type": "sha256",
  "builders_vm_name": "centos7u7",
  "builders_ks": "centos7u7-ks.cfg",
  "builders_ssh_username": "root",
  "builders_ssh_password": "r3dh4t1!",
  "post_region": "us-east-1", 
  "post_ami_name": "centos7u7"
}
